[Desktop Entry]
Comment=
Exec=~/Tools-Polybox/Desktop/cnc-desktop-launcher.sh ~/linuxcnc/configs/tb6560-v5/tb6560-v5-gmoccapy.ini
GenericName=CNC-gmoccapy
Icon=/home/poly/linuxcnc/linuxcncicon.png
MimeType=
Name=CNC-gmoccapy
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
