[Desktop Entry]
Comment[fr]=
Comment=
Exec=~/Tools-Polybox/Desktop/cnc-desktop-launcher.sh ~/linuxcnc/configs/tb6560-v5/tb6560-v5-pyvcp.ini
GenericName[fr]=CNC-gscreen
GenericName=CNC-gscreen
Icon=/home/poly/linuxcnc/linuxcncicon.png
MimeType=
Name[fr]=CNC-pyvcp
Name=CNC-pyvcp
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
