[Desktop Entry]
Categories=X-PAD;
Comment[en_US]=Start JoypadOverlay software
Comment=Start JoypadOverlay software
Encoding=UTF-8
Exec=/home/poly/joypadoverlay/src/JoypadOverlay
GenericName[en_US]=
GenericName=
Icon=/home/poly/joypadoverlay/img/icon.png
MimeType=
Name=JoypadOverlay
Path=/home/poly/joypadoverlay/src
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
Version=
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-GNOME-DocPath=
X-KDE-SubstituteUID=false
X-KDE-Username=
