#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Version=
Type=Application
Exec=/home/poly/joypadoverlay/src/JoypadOverlay
Icon=/home/poly/joypadoverlay/img/icon.png
X-GNOME-DocPath=
Terminal=false
Name=JoypadOverlay
Comment=Start JoypadOverlay software
StartupNotify=false
Categories=X-PAD;
