[Desktop Entry]
Comment=
Exec=/home/poly/linuxcnc/scripts/linuxcnc '/home/poly/linuxcnc/configs/tb6560-v5/tb6560-v5.ini'
Icon=/home/poly/linuxcnc/linuxcncicon.png
Name[en_US]=Polybox-CNC
Name=Polybox-CNC
Type=Application
