[Desktop Entry]
Categories=X-POLY;
Comment[en_US]=Start PolyBox software
Comment=Start PolyBox software
Encoding=UTF-8
Exec=/home/poly/polybox/src/polybox
GenericName[en_US]=
GenericName=
Icon=/home/poly/polybox/src/img/logo_400.png
MimeType=
Name=PolyBox
Path=/home/poly/polybox/src
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
Version=
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-GNOME-DocPath=
X-KDE-SubstituteUID=false
X-KDE-Username=
