[Desktop Entry]
Comment=
Exec=~/Tools-Polybox/Desktop/cnc-desktop-launcher.sh ~/linuxcnc/configs/tb6560-v5/tb6560-v5.ini
Icon=/home/poly/linuxcnc/linuxcncicon.png
Name[en_US]=Polybox-CNC
Name=Polybox-CNC
Type=Application
Terminal=false
